input[type="text"],input[type="tel"],input[type="url"]
input[type="password"] {
  border: none;
  text-align: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
