.card-detail {
  margin: 20px;
  border-color: #1da1f2 !important;
}

.card-user {
  margin-top: 100px !important;
  height: 480px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.icon-download {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 15px;
}
.text-donwload {
  font-size: 12px;
  font-weight: 600;
  width: 50%;
}

.img-logo {
  margin-left: 15px;
  max-width: 70%;
  max-height: 75px;
}
.brand-name {
  color: #f7316b;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bolder;
}

h5 {
  margin-left: 30px;
}

.divider {
  border-top: 1px solid #5e6167;
  width: 93%;
}

.img-circle {
  border: 2px solid grey;
  position: absolute;
  clip-path: circle();
  width: 50%;
  top: -100px;
  left: 25%;
  right: 25%;
}

.text-category {
  font-size: 24px;
  color: #1da1f2;
}

.text-activity {
  color: black;
  font-size: 14px;
  width: -webkit-fill-available;
  width: -moz-available;
}