.footer {
  background-color: #1da1f2;
  height: 208px;
  position: sticky;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.copyright {
  font-size: 12px;
  color: #f7f7f7 !important;
  margin: 5px;
}

.socialIcon:hover {
  filter: invert(2);
  mix-blend-mode: difference;
}
