input:required:focus:valid,
input[pattern]:focus:valid {
  border-color: green;
  box-shadow: 0 0 2px 1px green;
}

input:required:focus:invalid,
input[pattern]:focus:invalid {
  border-color: red;
  box-shadow: 0 0 2px 1px red;
}

input {
  border-color: silver;
  box-shadow: 0 0 2px 1px silver;
}

::placeholder {
  text-align: left;
}

.identity-h {
  min-height: 1880px !important;
}
